body {
  font-family: Arial, sans-serif;
  background-image: url("../ima/ima1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding: 12px;
  margin: 0;
}
.sub {
  color: black;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-size: clamp(14px, 3vw, 2px);
  margin-top: -10px;
}

h1,
h2 {
  text-align: center;
  color: rgb(233, 240, 233);
  margin: 0;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  -webkit-text-stroke: 0.1px black;
}
h1 {
  font-size: clamp(28px, 6vw, 60px);
  text-shadow: 0 0 10px #3cd746;
}
h2 {
  font-size: clamp(22px, 5vw, 48px);
  text-shadow: 0 0 10px #000;
}
.li {
  font-size: clamp(16px, 3.5vw, 22px);
  color: rgb(166, 165, 185);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 14px;
  margin-top: 15px;
}
.card {
  background: rgba(29, 186, 42, 0.35);
  border-radius: 16px;
  padding: 12px;
  text-align: center;
  box-shadow: 0 0 14px rgb(0,255,100,0.4 );
  backdrop-filter: blur(6px);
  transition: transform .25s;
}
.card:hover {
  transform: scale(1.03);
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
}
.precio {
  margin: 8px;
  color: rgb(213, 163, 24);
  font-size: clamp(16px, 4vw, 20px);
}

button {
  padding: 10px 14px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  font-size: 14px;
  min-width: 90px;
}

.add, .del, .pay {
   transition: all 0.25s ease;
}
.add:hover {
background:#1aff00 ;
  transform: scale(1.08);
  
}

.del:hover {
   background: #e74c3c;
  color: white;
  transform: scale(1.08);
}

.pay:hover {
  background: #d1db0c;
  transform: scale(1.08);
}

#carritoBox,
#adminBox,
#loginBox,
#facturaBox {
  background: rgba(0,0,0,0.55);
  margin-top: 20px;
  padding: 14px;
  border-radius: 14px;
  box-shadow: 0 0 18px rgba(0,255,120,0.3);
}
.content {
   border-radius: 18px;
  box-shadow: 0 0 20px #161414;
  text-align: center;
  background-color: #0e0b0b;
  padding: 15px;
}

input {
  display: block;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #3b5238;
  width: 90%;
  max-width: 400px;
  margin: 12px auto;
  box-shadow: 0 0 10px green;
  font-size: 16px;
}

.hidden {
  display: none;
}

label {
  font-size: 14px;
  font-weight: bold;
}
